h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 5.5vh; font-style: normal; font-variant: normal; font-weight: 100; line-height: 25px;
    color: whitesmoke;
    cursor: default;
    text-shadow: 1px 1px 10px #000000;
    line-height: 50px;
}h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 3vh; font-style: normal; font-variant: normal; font-weight: 100; line-height: 25px;
    color: whitesmoke;
    cursor: default;
    text-shadow: 1px 1px 10px #000000;
    line-height: 50px;
}h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 2vh; font-style: normal; font-variant: normal; font-weight: 100; line-height: 15.4px;
    color: whitesmoke;
    cursor: default;
    text-shadow: 1px 1px 10px #000000;
    line-height: 50px;
}p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 2vh; font-style: normal; font-variant: normal; font-weight: 100; line-height: 20px;
    color: whitesmoke;
    cursor: default;
    text-shadow: 1px 1px 10px #000000;
}a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 3vh; font-style: normal; font-variant: normal; font-weight: 100; line-height: 18.5714px;
    color: whitesmoke;
    cursor: default;
    text-shadow: 1px 1px 10px #000000;
}

nav {
    text-decoration: none;
    width: 100%;
    height: 5.5rem;
    background: rgba(25, 25, 25, 0.99);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    text-decoration: none;
    transform: skew(-10deg);
    margin-top: 25px;
}

nav ul logo {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 32px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 18.5714px;
    color: whitesmoke;
    
    text-decoration: none;
    color: orangered;
    font-size: 30px;
    padding:10px;
    background-color: #252525;
    align-items: center;
    justify-content: left;
    user-select: none;
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    line-height: 5.5rem;
    margin-top: 5px;
    display: inline;
    align-items: center;
}

nav ul button {
    text-decoration: none;
    color: orangered;
    font-size: 30px;
    padding:10px;
    background-color: #252525;
    border: 0px;
    align-items: center;
    justify-content: right;
}

nav ul li a {
    text-decoration: underline;
    color: orangered;
    font-size: 30px;
    padding:10px;
    background-color: #252525;
}

nav logo:hover {
    background-color:#606060;
    cursor: default;
}

nav a:hover {
    background-color: #606060;
    cursor: pointer;
}

nav a.active {
    color: #ffaa00;
}

nav button:hover {
    background-color: #606060;
    cursor: pointer;
}

body, html {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}

/* HOME PAGE */

#home-body {
    width: 100%;
    background: rgba(25, 25, 25, 0.50);
    display: block;
    text-align: center;
    margin-top: 15%;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#home-body img {
    border: 1px solid grey;
}

#arrow {
    margin-top: 75px;
    margin-bottom: 75px;
}

/* HOBBIES PAGE */

#hobbies-body {
    text-decoration: none;
    width: 100%;
    background: rgba(25, 25, 25, 0.50);
    display: inline-block;
    align-items: top;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 49%;
    max-width: 49%;
    padding: 0px 4px;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.column img:hover {
    transition: all 0.25s  ease-out;
    opacity: 0.75;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

/* COURSEWORK PAGE */

#coursework-body {
    width: 100%;
    text-align: center;
}

#ball {
	padding : 0px;
	display: flex;
    align-items: center;
    justify-content: center;
	width : 100%;
	height : 600px;
    margin-bottom: 500px;
}

/* VIDEO PAGE */

#video-body {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

/* VECTOR PAGE */

#vector-body {
    width: 100%;
    text-align: center;
}

#shape {
	display: flex;
    align-items: center;
    justify-content: center;
	width : 100%;
	height : 800px;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 75px;
    text-decoration: none;
    background: rgba(25, 25, 25, 0.99);
    display: flex;
    align-items: bottom;
    justify-content: center;
}